SensorVideoRecorder/.classpath
SensorVideoRecorder/.project
SensorVideoRecorder/.project
SensorVideoRecorder/.settings/org.eclipse.jdt.core.prefs
SensorVideoRecorder/AndroidManifest.xml
SensorVideoRecorder/bin/AndroidManifest.xml
SensorVideoRecorder/bin/jarlist.cache
SensorVideoRecorder/src/com/example/sensorvideorecorder/VideoViewActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/VideoRecordActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/VideoPlaybackActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/VideoListActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/VideoPlaybackActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/VideoListActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/models/MagData.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/models/GPSData.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/models/CameraData.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/MainActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/MainActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/MainActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/MainActivity.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/CameraPreview.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/CameraPreview.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/CameraPreview.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/GMailSender.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/GMailSender.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/JSSEProvider.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/models/Data.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/JSSEProvider.java
SensorVideoRecorder/src/com/example/sensorvideorecorder/models/Data.java
SensorVideoRecorder/res/values/styles.xml
SensorVideoRecorder/res/values/strings.xml
SensorVideoRecorder/res/values/dimens.xml
SensorVideoRecorder/res/values-v14/styles.xml
SensorVideoRecorder/res/values-w820dp/dimens.xml
SensorVideoRecorder/src/com/example/sensorvideorecorder/models/GyroData.java
SensorVideoRecorder/res/drawable-xhdpi/ic_launcher.png
SensorVideoRecorder/res/drawable-xhdpi/ic_launcher.png
SensorVideoRecorder/res/drawable-xxhdpi/ic_launcher.png
SensorVideoRecorder/res/layout/activity_main.xml
SensorVideoRecorder/res/layout/videoview.xml
SensorVideoRecorder/res/values-v11/styles.xml
SensorVideoRecorder/res/menu/main.xml
SensorVideoRecorder/res/layout/record.xml
SensorVideoRecorder/res/layout/preview.xml
SensorVideoRecorder/res/layout/fragment_main.xml
SensorVideoRecorder/res/drawable-mdpi/ic_launcher.png
SensorVideoRecorder/res/drawable-mdpi/ic_launcher.png
SensorVideoRecorder/res/drawable-hdpi/ic_launcher.png
SensorVideoRecorder/res/layout/video_list.xml
SensorVideoRecorder/res/drawable-hdpi/circle2.png
SensorVideoRecorder/res/drawable-hdpi/circle.png
SensorVideoRecorder/res/drawable-hdpi/blackline_vertic.png
SensorVideoRecorder/res/drawable-hdpi/circle.png
SensorVideoRecorder/res/drawable-hdpi/arrow.png
SensorVideoRecorder/libs/x86/libDropboxSync.so
SensorVideoRecorder/proguard-project.txt
SensorVideoRecorder/project.properties
SensorVideoRecorder/libs/mail.jar
SensorVideoRecorder/libs/dropbox-sync-sdk-android.jar.properties
SensorVideoRecorder/gen/com/example/sensorvideorecorder/BuildConfig.java
SensorVideoRecorder/gen/com/example/sensorvideorecorder/R.java
SensorVideoRecorder/bin/R.txt
SensorVideoRecorder/gen/android/support/v7/appcompat/R.java
SensorVideoRecorder/ic_launcher-web.png
SensorVideoRecorder/libs/activation.jar
SensorVideoRecorder/libs/additionnal.jar
SensorVideoRecorder/libs/android-support-v4.jar
SensorVideoRecorder/libs/armeabi/libDropboxSync.so
SensorVideoRecorder/libs/dropbox-sync-sdk-android.jar
SensorVideoRecorder/libs/mips/libDropboxSync.so
SensorVideoRecorder/res/drawable-hdpi/blackline_hori.png
SensorVideoRecorder/res/drawable-hdpi/blackline_verti.png
SensorVideoRecorder/libs/armeabi-v7a/libDropboxSync.so
SensorVideoRecorder/res/drawable-hdpi/blackline_verti.png
SensorVideoRecorder/res/layout/row.xml
.metadata/
PotatoPosse/gen/
PotatoPosse/settings/
PotatoPosse/bin/
.metadata/.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/3c/d030344e343f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/52/80df4d14323f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/7c/70b824fa333f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/63/60fe4c6d303f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/97/f02f51c3323f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/99/000cc90c303f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/c2/8005848c303f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/db/20c70098323f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.history/e2/c0fa291c343f00141235c9b7d34700e4
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/a0/d6/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/a0/d6/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/e4/81/96/df/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SensorVideoRecorder/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SensorVideoRecorder/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SensorVideoRecorder/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SensorVideoRecorder/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.markers.snap
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/356735178.index
.metadata/.plugins/org.eclipse.jdt.core/2119592197.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SensorVideoRecorder/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SensorVideoRecorder/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/e4/81/96/df/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/e4/81/96/df/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/a0/d6/properties.index
.metadata/.plugins/org.eclipse.jdt.core/2119592197.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/e4/81/96/df/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/a0/d6/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.indexes/a0/d6/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PotatoPosse/.markers.snap
*.log
*.log
*.snap
*.index
*.markers
*.prefs
*.xmi
*.dex
*.class
*.apk
PotatoPosse/bin/R.txt
*.ap_
PotatoPosse/gen/com/example/potatoposse/R.java
PotatoPosse/gen/android/support/v7/appcompat/R.java